<!-- TODO Multilingual Support for Tag & Author URLs -->
{% if page.url %}
  {% if page.url contains "tag/" %}
      {% assign title = page.title %}
  {% elsif page.url contains "author/" %}
      {% assign username = page.url | remove: 'author' | remove: '/' | replace: '-', ' ' | remove: ' ' %}
      {% for author in site.data.authors.authors %}
          {% if author.username == username %}
              {% assign title = author.display_name %}
          {% endif %}
      {% endfor %}
  {% endif %}
{% endif %}
{% if title %}
  {% assign title = title | append: ' | ' | append: site.data[site.active_lang].settings.title %}
{% endif %}
