{% assign lang = site.active_lang %}
<nav class="site-nav">
  <div class="site-nav-inner">
    <div class="site-nav-left">
      {% if page.current != 'home' %}
        {% if site.data.settings.logo %}
          <a class="site-nav-logo" href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}/">
            <img src="{{ site.data.settings.logo | relative_url }}" alt="{{ site.data[lang].settings.title }}" />
          </a>
        {% else %}
          <a class="site-nav-logo" href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}/">
            {{ site.data[lang].settings.title }}
          </a>
        {% endif %}
      {% endif %}
      {% if page.navigation %}
        {% include navigation/nav-list.html %}
      {% endif %}
    </div>
    <div class="site-nav-right">
      <div class="site-nav-social-links">
        {% include navigation/social-links.html %}
      </div>
      {% if site.subscriptions %}
        <a class="subscribe-button" href="#subscribe">Subscribe</a>
      {% endif %}
    </div>
  </div>
</nav>
