<footer class="site-footer outer">
  <div class="site-footer-content inner">
    <section class="footer-content-left">
      <nav class="site-footer-nav">
        {% include navigation/social-links.html %}
      </nav>
      {% if site.data.settings.contact.email %}
        <h4 class="footer-content-email">
          Email: <a href="mailto:{{ site.data.settings.contact.email }}">{{ site.data.settings.contact.email }}</a>
        </h4>
      {% endif %}
      <section class="copyright">
        <a href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}/">{{ site.data[site.active_lang].settings.title }}</a>
        &copy; {{ site.time | date: '%Y' }}
      </section>
    </section>
    <section class="footer-content-right">
      <!-- Contact/Send message form goes here -->
    </section>
  </div>
</footer>
