<div>
  <form action="https://misaal.us17.list-manage.com/subscribe/post?u=c5b186747870e25548bb013b8&amp;id=c7802ae59f"
    method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <div class="form-container">
      <div class="form-group">
        <!-- <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label> -->
        <input id="mce-EMAIL" class="subscribe-email" type="email" value="" name="EMAIL" placeholder="Enter your email address">
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_c5b186747870e25548bb013b8_c7802ae59f" tabindex="-1" value="">
      </div>
      <button class="submit-button" type="submit" name="subscribe">Subscribe</button>
    </div>
  </form>
</div>
