{% assign words_per_minute = site.words_per_minute | default: 200 %}

<article class="post-card {{ page.next.class }}{% unless page.next.cover %} no-image{% endunless %}">
  {% if page.next.youtube_video_id %}
    <a class="post-card-image-link" href="{{ page.next.url | remove_first: '/' | relative_url }}">
      <img class="post-card-image" src="https://i.ytimg.com/vi/{{ page.next.youtube_video_id }}/maxresdefault.jpg" />
      <div class="post-card-image-overlay">
        <div class="play-button">
          {% include icons/play.html %}
        </div>
      </div>
    </a>
  {% elsif page.next.cover %}
    <a class="post-card-image-link" href="{{ page.next.url | remove_first: '/' | relative_url }}">
      <div class="post-card-image" style="background-image: url({{ page.next.cover | relative_url }})"></div>
    </a>
  {% endif %}
  <div class="post-card-content">
    <div class=post-card-content-link>
      <header class="post-card-header">
        <time class="post-card-tags" datetime="{{ page.next.date | date_to_string }}">
          {{ page.next.date | date_to_string }}
        </time>
        {% if page.next.tags.size > 0 %}
          <span class="date-divider">/</span>
          {% for tag in page.next.tags %}
            {% if forloop.index == page.next.tags.size %}
              <a class="post-card-tags" href="{{ tag | slugify: "latin" | prepend: 'tag/' | relative_url }}">
                {{ tag | replace: '-', ' ' | capitalize }}
              </a>
            {% else %}
              <a class="post-card-tags" href="{{ tag | slugify: "latin" | prepend: 'tag/' | relative_url }}">
                {{ tag | replace: '-', ' ' | capitalize }}
              </a>
              <span class="date-divider">/</span>
            {% endif %}
          {% endfor %}
        {% endif %}
        <a href="{{ page.next.url | remove_first: '/' | relative_url }}">
          <h2 class="post-card-title">{{ page.next.title }}</h2>
        </a>
      </header>
      <section class="post-card-excerpt">
        {% if page.next.description and page.next.description != '' %}
          <p>{{ page.next.description | strip_html | truncate: 120 }}</p>
        {% else %}
          <p>{{ page.next.content | strip_html | truncate: 120 }}</p>
        {% endif %}
      </section>
    </div>
    <footer class="post-card-meta">
      {% for author in site.data.authors.authors %}
        {% if author.username == page.next.author and author.username != 'default' %}
          {% if author.avatar %}
            <img class="author-profile-image" src="{{ author.avatar | relative_url }}" alt="{{ author.display_name }}" />
          {% endif %}
          <span class="post-card-author">
            <a href="{{ page.next.author | prepend: 'author/' | relative_url }}">{{ author.display_name }}</a>
          </span>
        {% endif %}
      {% endfor %}
      <span class="reading-time">
        {% assign words = page.next.content | strip_html | number_of_words %}
        {% if words <= words_per_minute %}
          1 min read
        {% else %}
          {{ words | divided_by:words_per_minute }} min read
        {% endif %}
      </span>
    </footer>
  </div>
</article>
