<div class="floating-header">
  <div class="floating-header-logo">
    <a href="{{ site.url }}{{ site.baseurl }}">
      {% if site.data.settings.logo_dark %}
        <img src="{{ site.data.settings.logo_dark | relative_url }}" alt="{{ site.data.settings.title }} icon" />
      {% endif %}
      <span>{{ site.data.settings.title }}</span>
    </a>
  </div>
  <span class="floating-header-divider">&mdash;</span>
  <div class="floating-header-title">{{ page.title }}</div>
  <div class="floating-header-share">
    <div class="floating-header-share-label">Share</div>
    <a class="floating-header-share-wa"
      href="https://api.whatsapp.com/send?text={{ page.title | url_encode }} {{ page.url | absolute_url }}" target="_blank" rel="noopener">
      {% include icons/whatsapp.html %}
    </a>
    <a class="floating-header-share-tw"
      href="https://twitter.com/share?text={{ page.title | url_encode }}&amp;url={{ page.url | absolute_url }}" target="_blank" rel="noopener">
      {% include icons/twitter.html %}
    </a>
    <a class="floating-header-share-fb"
      href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank" rel="noopener">
      {% include icons/facebook.html %}
    </a>
  </div>
  <progress class="progress" value="0">
    <div class="progress-container">
      <span class="progress-bar"></span>
    </div>
  </progress>
</div>
