---
layout: default
current: 'author'
class: 'author-template'
navigation: true
---
<!-- TODO Multilingual Support for Authors -->
<header class="site-header outer 
  {% if page.cover %}
  " style="background-image: url({{ page.cover | relative_url }})
  {% else %}no-cover{% endif %}">
  <div class="inner">
    {% include navigation/site-nav.html %}
    <div class="site-header-content">
      {% if page.avatar %}
        <img class="author-profile-image" src="{{ page.avatar | relative_url }}" alt="{{ page.display_name }}" />
      {% endif %}
      <h1 class="site-title">
        {{ page.display_name }}
      </h1>
      {% if page.bio and page.bio != '' %}
        <h2 class="author-bio">
          {{ page.bio }}
        </h2>
      {% endif %}
      <div class="author-meta">
        {% if page.location %}
          <span class="social-link social-link-loc">
            {% include icons/location.html %}
          </span>
          <div class="author-location">
            {{ page.location }} <span class="bull">&bull;</span>
          </div>
        {% endif %}
        <div class="author-stats">
          {% assign author_posts_size = site.posts | where: 'author', page.username | size %}
          {% if author_posts_size == 0 %}
            No posts
          {% elsif author_posts_size == 1 %}
            1 post
          {% else %}
            {{ author_posts_size }} posts
          {% endif %}
          <span class="bull">&bull;</span>
        </div>
        {% if page.social_media.website %}
          <a class="social-link social-link-wb" href="{{ page.social_media.website }}" target="_blank" rel="noopener">
            {% include icons/website.html %}
          </a>
        {% endif %}
        {% if page.email %}
          <a class="social-link" href="mailto:{{ page.email }}" >
            {% include icons/mail.html %}
          </a>
        {% endif %}
        {% if page.social_media.twitter %}
          <a class="social-link social-link-tw" href="https://twitter.com/{{ page.social_media.twitter }}" target="_blank" rel="noopener">
            {% include icons/twitter.html %}
          </a>
        {% endif %}
        {% if page.social_media.facebook %}
          <a class="social-link social-link-fb" href="https://facebook.com/{{ page.social_media.facebook }}" target="_blank" rel="noopener">
            {% include icons/facebook.html %}
          </a>
        {% endif %}
        {% if page.social_media.instagram %}
          <a class="social-link social-link-ig" href="https://instagram.com/{{ page.social_media.instagram }}" target="_blank" rel="noopener">
            {% include icons/instagram.html %}
          </a>
        {% endif %}
        {% if page.social_media.linkedin %}
          <a class="social-link social-link-lkdn" href="{{ page.social_media.linkedin }}" target="_blank" rel="noopener">
            {% include icons/linkedin.html %}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</header>

<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
    <div class="post-feed">
      {%  include post/card-author.html %}
    </div>
  </div>
</main>